# General Folders
.idea/

# General File Types
*.iml
*.g.dart

# .dart_tool
.dart_tool/
annotation/.dart_tool/
generator/.dart_tool/
example/.dart_tool/
example/build/

# pubspec.lock
pubspec.lock
annotation/pubspec.lock
generator/pubspec.lock
example/pubspec.lock
